*	
{
	margin:	0;
	padding:	0;
	color:	inherit;
}

body	{
	margin:	0;
	padding:	0;
	background-color:	white;
}


#pageWrapper	
{
	position:	relative;
	margin:	0 auto;
	width:	601px;
	height:	338px;
	background-image:	url(bg.png);
	background-repeat:no-repeat;
}
#leftBackground	
{
	position:absolute;
	width:	279px;
	height:	338px;
	left:	-279px;
	top:	0;
	background-image:	url(bg_left.png);
}
#rightBackground	
{
	position:absolute;
	width:	279px;
	height:	338px;
	right:	-279px;
	top:	0;
	background-image:	url(bg_right.png);
}
#maskBackground
{
	position:	absolute;
	left:	0;
	top:	0;
	width:	393px;
	height:	177px;
	background-image:	url(bg_mask.png);
	pointer-events:	none;
}



#wideColumnWrapper	
{
	display:	inline-block;
	width:	393px;
	padding-right:	10px;
	padding-top:	153px;
	vertical-align:	top;
}
#narrowColumnWrapper	
{
	display:	inline-block;
	width:	188px;
	padding-left:	10px;
	padding-top:	244px;
	vertical-align:	top;
}

#logo	
{
	position:	absolute;
	top:	14px;
	right:	0;
	background-image:	url(logo.png);
	width:	185px;
	height:	111px;
}
#link	
{
	position:	absolute;
	top:	14px;
	right:	208px;
	font-family:	Arial, sans-serif;
	font-size:	10px;
	color:	#afafaf;
}
#slogan	
{
	position:	absolute;
	top:	60px;
	left:	329px;
	background-image:	url(slogan.png);
	width:	64px;
	height:	63px;
}
#welcomeWrapper
{
	position:	absolute;
	left:	0;
	right:	290px;
	top:	119px;
}
#welcome
{
	position:	absolute;
	bottom:	0;
}
#hello
{
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-size:	20px;
	color:	#0d4b96;
}
#subject
{
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-size:	16px;
	color:	#fbba1c;
}



article	{
	display:	block;
	width:	100%;
	clear:	both;
}
header	{
	display:	block;
	width:	100%;
	clear:	both;
}
footer	{
	display:	block;
	clear:	both;
	background-image:	url(page_divider.png);
	background-position:	top center;
	background-repeat:	no-repeat;
	padding:	30px 100px;
	text-align:	center;
	font-family:	Arial, sans-serif;
	font-size:	10px;
	color:	#afafaf;
}


#wideColumnWrapper article	
{
	background-image:	url(wide_divider.png);
	background-position:	top center;
	background-repeat:	no-repeat;
	padding:	10px 0;
}
#wideColumnWrapper article.First
{
	background-image:	none;
}

#wideColumnWrapper img.Thumbnail
{
	width:	142px;
	float:	right;
}


#wideColumnWrapper header
{
	position:	relative;
}
#wideColumnWrapper header nav
{
	position:	absolute;
	left:	16px;
	bottom:	19px;
}
#wideColumnWrapper header nav a
{
	background-color:	#ffba26;
	color:	#064693;
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-weight:	bold;
	font-size:	24px;
	border:	0;
	margin:	0;
	padding:	10px 24px;
	
	text-decoration:	none;

	-webkit-border-radius:	10px;
	-moz-border-radius:	10px;
	-o-border-radius:	10px;
	border-radius:	10px;
}


#wideColumnWrapper header .Text
{
	position:	absolute;
	left:	16px;
	top:	19px;
	width:	60%;
}

#wideColumnWrapper header h2
{
	color:White;
	font-size:24px;
}
#wideColumnWrapper header h3
{
	color:White;
	font-size:18px;
}


#narrowColumnWrapper article	
{
	padding-bottom:	10px;
}




h2
{
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-weight:	bold;
	color:	#0c4e98;
}
h3
{
	font-family:	'Oceania Regular', Arial, sans-serif;
	font-weight:	normal;
	color:	#fa8905;
}

#wideColumnWrapper h2
{
	font-size:	20px;
	margin:	5px 0;
}
#wideColumnWrapper h3
{
	font-size:	18px;
	margin:	5px 0;
}

#narrowColumnWrapper h2
{
	font-size:	16px;
	position:	relative;
	padding-bottom:	27px;
}
#narrowColumnWrapper h2 img
{
	width:	188px;
	margin-top:	10px;
	margin-bottom:	-27px;
}
#narrowColumnWrapper h2 .Mask
{
	background-image:	url(narrow_mask.png);
	pointer-events:	none;
	position:	absolute;
	left:	0;
	right:	0;
	bottom:	0;
	height:	27px;
}

p
{
	font-family:	Arial, sans-serif;
	font-size:	12px;
	color:	#414141;
	margin:	10px 0;
}

nav
{
	font-family:	'Oceania Regular', Arial, sans-serif;
	font-weight:	normal;
	font-size:	13px;
	color:	#064693;
	margin:	10px 0;
}
nav a
{
	display:	block;
	text-decoration:	none;
}

nav.Happy
{
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-weight:	bold;
	font-size:	16px;
	background-image:	url(bg_navHappy.png);
	background-position:	left bottom;
	background-repeat:	no-repeat;
	padding:	15px 0px 17px 6px;
	margin-left:	-6px;
}

nav.Sunny
{
	font-family:	'Oceania Bold', Arial, sans-serif;
	font-weight:	bold;
	font-size:	18px;
	color:	#fcb926;
}

nav.Icon
{
	margin:	0 -5px;
}
nav.Icon a
{
	display:	inline-block;
	margin:	0 5px;
}

li
{
	list-style-image:	url(bullet.png);
	margin:	10px 0 10px 20px;
}



